<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Group Up And Play</title>
  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap" rel="stylesheet">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <!-- CUSTOM CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css' ) }}">
  
</head>

<body>
<header>
  
</header>
  <div class="menu-btn">
    <i class="fas fa-bars fa-2x"></i>
  </div>
  <link href="{{ url_for('static', filename='assets/images/dados.png' ) }}" rel="icon">
  <div class="container">
    
    <nav class="nav-main">
      
      <img src="{{ url_for('static', filename='assets/images/dados.png' ) }}" alt="Dados Logo" class="nav-brand">
      
      <ul class="nav-menu">
        <li class="nav-item">
          <a class="nav-link" href="juegos">Listado de juegos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="recomanam">Recomendar</a>
    </li>
      </ul>

      
    </nav>
    <hr>

    <!-- SHOWCASE -->
    <header class="showcase" style="background-image : url('/static/assets/images/bannner.jpg' )" alt="Imagen juego de mesa" >
      
      <h1>Group Up And Play</h1>
  <br />

  <h2> Aquí puedes buscar juegos por su nombre o similar</h2>
      
    </header>

    <!-- inputs -->
    <div class="inputs">
      <div>
        <h3>Nombre Juego</h3>
        <input type="text" class="redondeado" id="NombreJuego" value="" />

      </div>
    <div class="links"><input class="boton_personalizado" type="button" id="BotonEnviar" value="Buscar" /></div>
    </div>
    <!-- Aqui salen los juegos buscados por ese nombre -->
    <section class="cards-banner-one">

      <script>

        $(document).ready(function () {
           

            $("#BotonEnviar").click(function () {
             var juego = $('#NombreJuego').val();


                $.getJSON("http://127.0.0.1:5000/buscando?juego=" + juego, function (data) {

                    //console.log(data);
                    var items = [];

                    $.each(data, function (key, val) {

                        //$.each(val, function (key, val) {



                            //items.push("<li id='" + key + "'>" + val+ "</li>");
                            //items.push("<li id='" + key + "'>" + val.name1 + "</li>");
                        //});
                        

                        
                        items.push("<li></li>");
                        items.push("<li id='" + key + "'><h4>" + val.name + "</h4></li>");
                        items.push("<li></li>");
                        items.push("<li id='" + key + "'><img src =" + val.foto + "></li>");
                        items.push("<li></li>");
                        items.push("<li id='" + key + "'>Descripción: " + val.desc + "</li>");
                        items.push("<li></li>");
                        items.push("<li id='" + key + "'>Minimo de Jugadores: " + val.minp + "</li>");
                        items.push("<li id='" + key + "'>Maximo de Jugadores: " + val.maxp + "</li>");
                        items.push("<li id='" + key + "'>Tiempo Aproximado de Juego: " + val.playtime + "</li>");
                        items.push("<li id='" + key + "'>Edad Mínima para Jugar: " + val.minage + "</li>");
                        items.push("<li id='" + key + "'>Categorias: " + val.categorias + "</li>");
                        items.push("<li></li>");
                        items.push("<li></li>");


                    });

                    $("<ul/>", {

                        html: items.join("")
                    }).appendTo("body");


                    
                });
                
            });

        });
    </script>

    </section>
  </div>
</body>
<footer class="footer">

  <!-- Footer Links -->
  <footer class="footer">

  <!-- Footer Links -->
  <div class="footer-links">
    <div class="footer-container">
      <ul>
        <li>
          <a href="#">
            <h3>Quienes Somos</h3>
          </a>
        </li>
        <li>
          <a href="#">Recomana'm </a>
        </li>
        <li>
          <a href="#">Lorena Carmona  </a>
        </li>
        <li>
          <a href="#">Pau Costa </a>
        </li>
        <li>
          <a href="#">Alicia Fontanella </a>
        </li>
        <li>
          <a href="#">Dariel Lopez</a>
        </li>
        <li>
          <a href="#">Alvaro Aguado</a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="#">
            <h3>Fundación Esplai</h3>
          </a>
        </li>
        <li>
          <a href="#">Enfoca't</a>
        </li>
        <li>
          <a href="#">Machine Learning</a>
        </li>
        <li>
          <a href="#">Artificial Intelligence</a>
        </li>
        <li>
          <a href="#">Python</a>
        </li>
        <li>
          <a href="#">Sistema de Recomendaciones</a>
        </li>
        <li>
          <a href="#">2020</a>
        </li>
      </ul>
      
    </div>
  </div>

  <!-- Footer -->

    <h3>Group Up And Play</h3>
  </footer>

  <!-- Scroll Reveal -->
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="{{url_for('static',filename='assets/js/main.js')}}"></script>
</html>